body{

}
ul li{

}
#app-download ul.app-btn li{
    display: inline-block;
}
ul.online-users li{
    display: inline-block;
}
.footer-wrapper > div{
    float: left;
}
ul.social-icons li{
    display: inline-block;
}
.timeline-cover .timeline-nav-bar .follow-me li{
    display: inline-block;
}
.list-inline > li{
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
.live-activity > p{
    margin: 0 0 10px;
}
.timeline-cover{
    background:unset;
}

.timeline-cover > img{
    background-position: center;

    background-size: cover;

    min-height: 360px;

    border-radius: 0 0 4px 4px;

    position: relative;
}