body{

}
ul li{

}
#app-download ul.app-btn li{
    display: inline-block;
}
ul.online-users li{
    display: inline-block;
}
.footer-wrapper > div{
    float: left;
}
ul.social-icons li{
    display: inline-block;
}


